[Unit]
Description=Jupyterhub
After=syslog.target network.target
[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub --ssl-key /etc/letsencrypt/archive/atgenomics.ddns.net/privkey1.pem --ssl-cert /etc/letsencrypt/archive/atgenomics.ddns.net/fullchain.pem
[Install]
WantedBy=multi-user.target
